<%- include('../partials/header') %>
    <table id="list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% trails.forEach(function(m) { %>
                <tr>
                    <td>
                        <%= m.title %>
                    </td>
                    <td>
                        <%= m.location %>
                    </td>
                    <td><a class="details" href="/trails/<%= m._id %>">DETAILS</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>